/* KitKat Holo Dark styles for widgets.
 * Part of the Holo Web CSS library.
 * Written by Zachary Yaro.
 * https://github.com/zmyaro/holo-web
 */
 
 .actionBar, .holo-actionBar {
	background-color: #222222;
	
	border-top-color: #393939;
	border-bottom-color: #1B1B1B;
}
footer.actionBar, footer.holo-actionBar {
	border-top-color: #1B1B1B;
}

.actionBar button:active, .holo-actionBar button:active,
.actionBar button.active, .holo-actionBar button.active {
	background-color: rgba(204, 204, 204, 0.25);
}
