/* ICS blue = #33B5E5 = rgb(51,181,229) */

body {
	background-color:#E8E8E8;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(#F7F7F7));
	background-image:-webkit-linear-gradient(#E8E8E8, #F7F7F7);
	background-image:   -moz-linear-gradient(#E8E8E8, #F7F7F7);
	background-image:    -ms-linear-gradient(#E8E8E8, #F7F7F7);
	background-image:     -o-linear-gradient(#E8E8E8, #F7F7F7);
	background-image:        linear-gradient(#E8E8E8, #F7F7F7);
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#F7F7F7');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#F7F7F7')";
	
	color:black;
}

button {
	background-color:#CBCBCB;
	
	border-top-color:#DDDDDD;
	border-bottom-color:#959595;
	
	color:#333333;
}
button:focus {
	-webkit-box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
}
button:active {
	background-color:#4BBDE8;
	background-color:rgba(51,181,229,0.9);
	
	border-top-color:#7CCFEE;
	border-top-color:rgba(107,201,237,0.9);
	border-bottom-color:#3B95B5;
	border-bottom-color:rgba(41,114,183,0.9);
	
	-webkit-box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
}
