/* KitKat Holo Dark styles for widgets.
 * Part of the Holo Web CSS library.
 * Written by Zachary Yaro.
 * https://github.com/zmyaro/holo-web
 */
 
 .actionBar, .holo-actionBar {
	background-color: #222222;
	
	border-top-color: #393939;
	border-bottom-color: #1B1B1B;
}
footer.actionBar, footer.holo-actionBar {
	border-top-color: #1B1B1B;
}

.actionBar button:active, .holo-actionBar button:active,
.actionBar button.active, .holo-actionBar button.active {
	background-color: rgba(204, 204, 204, 0.25);
}

.actionBar .holo-title.holo-up, .holo-actionBar .holo-title.holo-up {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAAEgAAABIAEbJaz4AAAAJdnBBZwAAABAAAAAQAFzGrcMAAADaSURBVCjPddG9SkNBFATgb5drCAhiYRUs7BQsRDCtQfIevppP4k/KgIUgiJYWEQtLxT/uXYu9N9lIMtVh9pyZYTZokbqhJ4q+1QRUFgiSbee2vLroyKq4D5JTu2pTtRgaiMVzY+BY7cG9oMmmUYkzfZ8uSyrmY0Gy70Bw60WUcsSFRRKM9LyZZCKUCiKG9vy68pHvlyzaKZR1LC80mHq2YWxTM9f/F/LGjx2jTKRyoQ356ElyYpA1VvVw7UvfeFUPJNHMncqhI0kMpULoGp+YeTdUdVXP86777j8ScUEXuCRR/QAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxMS0wNy0wMVQxMzoxMDoyNS0wNzowMDPfgNMAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTEtMDctMDFUMTM6MTA6MjUtMDc6MDBCgjhvAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAABJRU5ErkJggg==);
}
