/* KitKat Holo Light styles for widgets.
 * Part of the Holo Web CSS library.
 * Written by Zachary Yaro.
 * https://github.com/zmyaro/holo-web
 */

.actionBar, .holo-actionBar {
	background-color: #DDDDDD;
	
	border-top-color: #E0E0E0;
	border-bottom-color:#CDCDCD;
	
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}
footer.actionBar, footer.holo-actionBar {
	border-top-color: #C6C6C6;
}

.actionBar button:active, .holo-actionBar button:active,
.actionBar button.active, .holo-actionBar button.active {
	background-color: rgba(153, 153, 153, 0.2);
}
