body {
	padding-top:44px;
	padding-bottom:44px;
}

.actionBar, .holo-actionBar { /* the top action bar should be a <header> element */
	display:block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	height:40px;
	
	border-style:solid none;
	border-width:1px 0 2px;
	
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
	   -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
	        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
	
	z-index: 1000;
}

footer.actionBar, footer.holo-actionBar { /* a bottom action bar must be a <footer> element */
	top:auto;
	bottom:0px;
	
	border-width: 1px 0 0;
	
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.actionBar span, .holo-actionBar span { /* use this for text in action bars */
	display:inline-block;
	margin:12px;
}

.actionBar button, .holo-actionBar button {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
	height: 100%;
	margin: -1px 0 -2px 0;
	padding-top: 1px;
	padding-bottom: 2px;
	
	background-color:transparent;
	background-image:none;
	
	border-style:none;
	border-width:0px;
	outline-style:solid;
	outline-width:2px;
	outline-color:transparent;
	outline-offset:-2px;
	-webkit-border-radius:0px;
	   -moz-border-radius:0px;
	        border-radius:0px;
	
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	        box-shadow:none;
	
	font-size:9pt;
	text-transform:uppercase;
	font-weight:bold;
	
	-webkit-transition-duration:0.1s;
	   -moz-transition-duration:0.1s;
	    -ms-transition-duration:0.1s;
	     -o-transition-duration:0.1s;
	        transition-duration:0.1s;
}
.actionBar button:focus, .holo-actionBar button:focus {
	background-color: rgba(51,181,229,0.3);
	
	outline-color: #32A5CF;
	outline-color: rgba(51,181,229,0.9);
		
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.actionBar button:active, .holo-actionBar button:active,
.actionBar button.active, .holo-actionBar button.active {
	background-color: rgba(51,181,229,0.75);
	
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
