/* ICS blue = #33B5E5 = rgb(51,181,229) */

body {
	background-color:#E8E8E8;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(#F7F7F7));
	background-image:-webkit-linear-gradient(#E8E8E8, #F7F7F7);
	background-image:   -moz-linear-gradient(#E8E8E8, #F7F7F7);
	background-image:    -ms-linear-gradient(#E8E8E8, #F7F7F7);
	background-image:     -o-linear-gradient(#E8E8E8, #F7F7F7);
	background-image:        linear-gradient(#E8E8E8, #F7F7F7);
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#F7F7F7');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#F7F7F7')";
	
	color:black;
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
	background-color:#CBCBCB;
	
	border-top-color:#DDDDDD;
	border-bottom-color:#959595;
	
	color:#333333;
}
button:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus {
	-webkit-box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
}
button:active:enabled, input[type="button"]:active:enabled, input[type="submit"]:active:enabled, input[type="reset"]:active:enabled {
	background-color:#4BBDE8;
	background-color:rgba(51,181,229,0.9);
	
	border-top-color:#7CCFEE;
	border-top-color:rgba(107,201,237,0.9);
	border-bottom-color:#3B95B5;
	border-bottom-color:rgba(41,114,183,0.9);
	
	-webkit-box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
}

input[type="radio"] {
	border-color:#828282;
	border-color:rgba(61,61,61,0.7);
}
input[type="radio"]:focus {
	-webkit-box-shadow:0px 0px 0px 2px #33B5E5;
	   -moz-box-shadow:0px 0px 0px 2px #33B5E5;
	        box-shadow:0px 0px 0px 2px #33B5E5;
}
input[type="radio"]:enabled:active {
	background-color:#33B5E5;
	background-color:rgba(51,181,229,0.5);
	background:-webkit-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:   -moz-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:    -ms-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:     -o-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:        radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	-webkit-box-shadow:0px 0px 0px 8px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 8px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 8px rgba(51,181,229,0.4);
}
input[type="radio"]:checked {
	background-color:#0099CC;
	background:-webkit-radial-gradient(#0099CC 6px, /*#81BDD1*/ #028AB7 7px, rgba(204,204,204,0.4) 8px, transparent 9px);
	background:   -moz-radial-gradient(#0099CC 6px, /*#81BDD1*/ #028AB7 7px, rgba(204,204,204,0.4) 8px, transparent 9px);
	background:    -ms-radial-gradient(#0099CC 6px, /*#81BDD1*/ #028AB7 7px, rgba(204,204,204,0.4) 8px, transparent 9px);
	background:     -o-radial-gradient(#0099CC 6px, /*#81BDD1*/ #028AB7 7px, rgba(204,204,204,0.4) 8px, transparent 9px);
	background:        radial-gradient(#0099CC 6px, /*#81BDD1*/ #028AB7 7px, rgba(204,204,204,0.4) 8px, transparent 9px);
}
input[type="radio"]:checked:enabled:active {
	background:-webkit-radial-gradient(#0099CC 6px, /*#81BDD1*/ #028AB7 7px, rgba(204,204,204,0.4) 8px, rgba(51,181,229,0.4) 9px);
	background:   -moz-radial-gradient(#0099CC 6px, /*#81BDD1*/ #028AB7 7px, rgba(204,204,204,0.4) 8px, rgba(51,181,229,0.4) 9px);
	background:    -ms-radial-gradient(#0099CC 6px, /*#81BDD1*/ #028AB7 7px, rgba(204,204,204,0.4) 8px, rgba(51,181,229,0.4) 9px);
	background:     -o-radial-gradient(#0099CC 6px, /*#81BDD1*/ #028AB7 7px, rgba(204,204,204,0.4) 8px, rgba(51,181,229,0.4) 9px);
	background:        radial-gradient(#0099CC 6px, /*#81BDD1*/ #028AB7 7px, rgba(204,204,204,0.4) 8px, rgba(51,181,229,0.4) 9px);
}
