/* ICS blue = #33B5E5 = rgb(51,181,229) */

body {
	background-color:#E8E8E8;
	color:#0A0A0A;
}
body:before {
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#FBFBFB');  /* old versions of IE get  */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#FBFBFB')"; /* boring linear gradients */
	background-image:-webkit-gradient(radial, 50% 100%, 0, 50% 100%, 50%, from(#FBFBFB), to(#E8E8E8));
	background-image:-webkit-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
	background-image:   -moz-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
	background-image:    -ms-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
	background-image:     -o-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
	background-image:        radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
	background-color: #CECECE;
	
	border-left-color: #C8C8C8;
	border-right-color: #C8C8C8;
	border-top-color: #DFDFDF;
	border-bottom-color: #979797;
	
	color:#333333;
}
button:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus {
	background-color: #A6DAED;
	
	border-left-color: #30AAD2;
	border-right-color: #30AAD2;
	border-top-color: #59BBDC;
	border-bottom-color: #2B98BC;
	
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 1px #30ABD4;
	   -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 1px #30ABD4;
	        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 1px #30ABD4;
}
/* The “active” class is used to force the appearance of the active/pressed state */
button:enabled:active, input[type="button"]:enabled:active, input[type="submit"]:enabled:active, input[type="reset"]:enabled:active,
button:enabled.active, input[type="button"]:enabled.active, input[type="submit"]:enabled.active, input[type="reset"]:enabled.active {
	background-color: #59C1E8;
	
	border-left-color: #57BCE2;
	border-right-color: #57BCE2;
	border-top-color: #85D2EE;
	border-bottom-color: #4597B5;
}

select:not([size]), select[size="1"] {
	background: -webkit-linear-gradient(135deg, rgba(127,127,127,1) 8px, rgba(127,127,127,0) 9px);
	background:    -moz-linear-gradient(135deg, rgba(127,127,127,1) 8px, rgba(127,127,127,0) 9px);
	background:     -ms-linear-gradient(135deg, rgba(127,127,127,1) 8px, rgba(127,127,127,0) 9px);
	background:      -o-linear-gradient(135deg, rgba(127,127,127,1) 8px, rgba(127,127,127,0) 9px);
	background:         linear-gradient(315deg, rgba(127,127,127,1) 8px, rgba(127,127,127,0) 9px);
	
	border-bottom-color: #B8B8B8;
	
	color: #0A0A0A;
}
select:not([size]):focus, select[size="1"]:focus {
	background: -webkit-linear-gradient(135deg, rgba(48,171,212,1) 8px, rgba(48,171,212,0) 9px);
	background:    -moz-linear-gradient(135deg, rgba(48,171,212,1) 8px, rgba(48,171,212,0) 9px);
	background:     -ms-linear-gradient(135deg, rgba(48,171,212,1) 8px, rgba(48,171,212,0) 9px);
	background:      -o-linear-gradient(135deg, rgba(48,171,212,1) 8px, rgba(48,171,212,0) 9px);
	background:         linear-gradient(315deg, rgba(48,171,212,1) 8px, rgba(48,171,212,0) 9px);
	
	border-bottom-color: #61BDDB;
}
/* The “active” class is used to force the appearance of the active/pressed state */
select:not([size]):active, select[size="1"]:active,
select:not([size]).active, select[size="1"].active {
	background: -webkit-linear-gradient(135deg, rgba(81,113,124,1) 8px, rgba(51,181,229,0.4) 9px);
	background:    -moz-linear-gradient(135deg, rgba(81,113,124,1) 8px, rgba(51,181,229,0.4) 9px);
	background:     -ms-linear-gradient(135deg, rgba(81,113,124,1) 8px, rgba(51,181,229,0.4) 9px);
	background:      -o-linear-gradient(135deg, rgba(81,113,124,1) 8px, rgba(51,181,229,0.4) 9px);
	background:         linear-gradient(315deg, rgba(81,113,124,1) 8px, rgba(51,181,229,0.4) 9px);
	
	border-bottom-color: #689EB3;
}

option {
	background-color: #F5F5F5;
	color: #0A0A0A;
	border-top: 1px solid #DCDCDC;
}

input[type="radio"], input[type="checkbox"] {
	border-color:#828282;
	border-color:rgba(61,61,61,0.7);
}
input[type="radio"]:focus, input[type="checkbox"]:focus {
	-webkit-box-shadow:0px 0px 0px 2px rgba(51,181,229,0.9);
	   -moz-box-shadow:0px 0px 0px 2px rgba(51,181,229,0.9);
	        box-shadow:0px 0px 0px 2px rgba(51,181,229,0.9);
}
input[type="radio"]:enabled:active, input[type="checkbox"]:enabled:active,
input[type="radio"]:enabled.active, input[type="checkbox"]:enabled.active {
	-webkit-box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
	background-color:#33B5E5;
	background-color:rgba(51,181,229,0.5);
}
input[type="radio"]:enabled:active,
input[type="radio"]:enabled.active {
	background:-webkit-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:   -moz-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:    -ms-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:     -o-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:        radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
}

input[type="radio"]:checked {
	background-color:#0099CC;
	background:-webkit-radial-gradient(#0099CC 3px, /*#81BDD1*/ #028AB7 4px, rgba(204,204,204,0.4) 5px, transparent 6px);
	background:   -moz-radial-gradient(#0099CC 3px, /*#81BDD1*/ #028AB7 4px, rgba(204,204,204,0.4) 5px, transparent 6px);
	background:    -ms-radial-gradient(#0099CC 3px, /*#81BDD1*/ #028AB7 4px, rgba(204,204,204,0.4) 5px, transparent 6px);
	background:     -o-radial-gradient(#0099CC 3px, /*#81BDD1*/ #028AB7 4px, rgba(204,204,204,0.4) 5px, transparent 6px);
	background:        radial-gradient(#0099CC 3px, /*#81BDD1*/ #028AB7 4px, rgba(204,204,204,0.4) 5px, transparent 6px);
}
input[type="checkbox"]:checked {
	/*background-image: url(check-light.png);*/
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAARCAMAAADnhAzLAAAAAXNSR0IArs4c6QAAAk9QTFRFM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7PjKpW9MazaM7XlPT09PT09PT09PT9APERIPE1UO1tnOWp8OHaNN4ysM7TkJ3+fN4OdKnaRMKrXM7XlPT09PT0+PT4+PT4/PUBCPUJFPEZKPEtQPFBXOmJxKIepKousIaPOKJa7I3OQMKvYM7XlPT8/M7XlM7XlM7TkKYywKYusFp/MCJrKDHidIX+iM7XlPUNFPT9AM7XlM7XlM7XlKo6yKousFp/NAJbIAX+pEWuLMa3bM7XlPEdLPUBCM7XlM7XlM7XlM7XlM7XlKpC1KoqsF5/NAn+pFHGSMa7dPEpQPUFEMrPiKH+eKoepM7TkM7XlM7XlM7XlK5K4KoqrAn+pFXWXMrDeM7XlM7XlPE5VPUNFMrPjJXqYNI2rM4yqKY2xM7XlM7XlLJa9KoqrF5/MFnaYMrDfM7XlO1FYPERGHnmaIYepF6DNGJ/NKousLJa9LJnAKourF5/MFnaYN36ZNaLLPERHM7XlFWyLBoCpAZfJLIurLIqqFneZMrDfPFJaOH2WPE9WPURGMKzZEW2NAYCqAJbJEp7NMrHgM7XlPE1TOW+DPExSMa7cFHKTAoCqFneZPEdMOl9tPEhNPUFDM7XlMa/dFHSVFnaYMrHgPUNFO1FaPT9BMa/dE3GSAX6nAX2mFHKUMrDfPUBBM7XlMa3bE2qJFG2MMa/ePUBCM7XlM7XlM7XlPT09PT4/PUBDPT4/PUFEPENHPEVJAprMAJnM+n0QmAAAAAF0Uk5TAEDm2GYAAAAJcEhZcwAACxMAAAsTAQCanBgAAABmSURBVBjTY2AgBOQwRHT19NFELCwPW1mjiLi4HnZzRxEJDjnsFooikgQUSYayc3JBZFExQqSquqaWgaGhESHC0NF5OKSrG1mEgWHK1MPTpqGIMDDMm3rkCKoISAzNdiBYt56BCgAA/IUgFE2dD/IAAAAASUVORK5CYII=);
}

input[type="radio"]:checked:enabled:active,
input[type="radio"]:checked:enabled.active {
	background-color:#3D3D3D;
	background:-webkit-radial-gradient(#3D3D3D 4px, rgba(51,181,229,0.4) 6px);
	background:   -moz-radial-gradient(#3D3D3D 4px, rgba(51,181,229,0.4) 6px);
	background:    -ms-radial-gradient(#3D3D3D 4px, rgba(51,181,229,0.4) 6px);
	background:     -o-radial-gradient(#3D3D3D 4px, rgba(51,181,229,0.4) 6px);
	background:        radial-gradient(#3D3D3D 4px, rgba(51,181,229,0.4) 6px);
}
input[type="checkbox"]:checked:enabled:active,
input[type="checkbox"]:checked:enabled.active {
	/*background-image: url(check-active-light.png);*/
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAARCAYAAADQWvz5AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAW9JREFUOMvV0ztLglEYB/D/8bylEQR9hGgpupE31Kx0cWmJhpKooaKhljYbIhHMbGnoqqW4hH4Eacuw4gWhXUpKqEgio6QgzJ4GRRO7KA7Rfzzn8IPncoC/TPdOaEFtWaWqELnncEY3NEq9BiNppi15TFIR4g2bZPuebX53BWTeIMROoXTsEQCwshHfcbMs6D7niTgAAriAdIsWonuZAQAvF2qqzSR54rKAtPZAdDtYRaXphieIJy4KSJseomupqBoJACi8R0rt+CypVgIlk9CNTBK/jQGUQ9r7IG7ZS1rC5L6TxrqgKylJxEH1DXg1jiEyb2YAoDNPEb85+4T0Q9y0fdlXQZK6T7LUAwACe36E9MAPtW2XhGgE/DqaQ2qQ7jBA3LB+OxwGACqnn6ShANjLU/aUC8B7poB0GiCuW3+ccP5S5QyQNOQvYEAW6TJCXFv8dU2KHhRhFSBfRuUMkH5gkDRzdqr6Uyq8YRP+fT4ATkiPMbwnoLkAAAAASUVORK5CYII=);
}

input[type="range"], progress {
	background-color: #A9A9A9;
	background-color: rgba(0,0,0,0.3);
}
input[type="range"]::-moz-range-track {
	background-color: rgba(0,0,0,0.3);
}
input[type="range"]::-ms-track {
	background-color: rgba(0,0,0,0.3);
}
input[type="range"]:disabled::-webkit-slider-thumb {
	background-color: rgba(0,0,0,0.13);
	background: -webkit-radial-gradient(rgba(51,181,229,1) 2px, rgba(0,0,0,0.13) 3px);
	background:         radial-gradient(rgba(51,181,229,1) 2px, rgba(0,0,0,0.13) 3px);
}
input[type="range"]:disabled::-moz-range-thumb {
	background-color: rgba(0,0,0,0.13);
	background: -moz-radial-gradient(rgba(51,181,229,1) 2px, rgba(0,0,0,0.13) 3px);
	background:      radial-gradient(rgba(51,181,229,1) 2px, rgba(0,0,0,0.13) 3px);
}
input[type="range"]:disabled::-ms-thumb {
	background-color: rgba(0,0,0,0.13);
	background: radial-gradient(rgba(51,181,229,1) 2px, rgba(0,0,0,0.13) 3px);
}

progress::-webkit-progress-bar-value, progress::-webkit-progress-value {
	background-color: #129CCA;
}
progress::-moz-progress-bar {
	background-color: #129CCA;
}
input[type="range"]::-ms-fill-lower, progress::-ms-fill {
	background-color: #129CCA;
}