/* ICS blue = #33B5E5 = rgb(51,181,229) */

body {
	background-color:#E8E8E8;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#000000), to(#272D33));
	background-image:-webkit-linear-gradient(#000000, #272D33);
	background-image:   -moz-linear-gradient(#000000, #272D33);
	background-image:    -ms-linear-gradient(#000000, #272D33);
	background-image:     -o-linear-gradient(#000000, #272D33);
	background-image:        linear-gradient(#000000, #272D33);
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#272D33');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#272D33')";
	
	color:white;
}

a {
	color:#33B5E5;
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
	background-color:#424343;
	
	border-top-color:#828283;
	border-bottom-color:#313132;
	
	color:#FFFFFF;
}
button:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus {
	-webkit-box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
}
button:enabled:active, input[type="button"]:enabled:active, input[type="submit"]:enabled:active, input[type="reset"]:enabled:active,
button:enabled.active, input[type="button"]:enabled.active, input[type="submit"]:enabled.active, input[type="reset"]:enabled.active {
	background-color:#32A5CF;
	background-color:rgba(51,181,229,0.9);
	
	border-top-color:#68BCD9;
	border-top-color:rgba(107,201,237,0.9);
	border-bottom-color:#2882A2;
	border-bottom-color:rgba(41,114,183,0.9);
	
	-webkit-box-shadow:0px 0px 0px 4px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 4px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 4px rgba(51,181,229,0.4);
}

input[type="radio"], input[type="checkbox"] {
	border-color:#3C3C3C;
	border-color:rgba(204,204,204,0.4);
}
input[type="radio"]:focus, input[type="checkbox"]:focus {
	-webkit-box-shadow:0px 0px 0px 2px rgba(51,181,229,0.9);
	   -moz-box-shadow:0px 0px 0px 2px rgba(51,181,229,0.9);
	        box-shadow:0px 0px 0px 2px rgba(51,181,229,0.9);
}
input[type="radio"]:enabled:active, input[type="checkbox"]:enabled:active,
input[type="radio"]:enabled.active, input[type="checkbox"]:enabled.active {
	-webkit-box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
	background-color:#33B5E5;
	background-color:rgba(51,181,229,0.5);
}
input[type="radio"]:enabled:active,
input[type="radio"]:enabled.active {
	background:-webkit-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:   -moz-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:    -ms-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:     -o-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:        radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
}

input[type="radio"]:checked {
	background-color:#0099CC;
	background:-webkit-radial-gradient(#33B5E5 3px, /*#94C7DA*/ #2FA3CE 4px, #306172 5px, transparent 6px);
	background:   -moz-radial-gradient(#33B5E5 3px, /*#94C7DA*/ #2FA3CE 4px, #306172 5px, transparent 6px);
	background:    -ms-radial-gradient(#33B5E5 3px, /*#94C7DA*/ #2FA3CE 4px, #306172 5px, transparent 6px);
	background:     -o-radial-gradient(#33B5E5 3px, /*#94C7DA*/ #2FA3CE 4px, #306172 5px, transparent 6px);
	background:        radial-gradient(#33B5E5 3px, /*#94C7DA*/ #2FA3CE 4px, #306172 5px, transparent 6px);
}
input[type="checkbox"]:checked {
	background-color:#0099CC;
	/*background:url(check-dark.png) left bottom;*/
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAARCAMAAAAIRmf1AAAAAXNSR0IArs4c6QAAAmdQTFRFM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7XlM7PjKpW9MazaM7XlzMzMzMzMzMzMy8zMxsvNucnPpcbSjMLWdr/aZ73dUbrgM7TkLYKiTI+nOH6YMKrXM7XlzMzMy8zMyszMyszMyczMx8vNwsvNu8nPsMjQpMbTmcTUfcDYLYqsR5u6TLvjTKrNMnuXMKvYM7Xlx8vNM7XlM7XlM7TkLo6yRpu6RLjjObTiLoutJIGjM7XlvcrOxsvNM7XlM7XlM7XlLpC0Rpq5MrLhKpa9IXSSMa3bM7Xls8jQwcrOM7XlM7XlM7XlM7XlM7XlLpK3KpW9InmZMa7dqsfSvcrOMrPiLIGgLYmrM7TkM7XlM7XlM7XlL5S6RZm4RLjiKpW9I3ydMrDeM7XlM7Xlo8bTucnPMrPjLH2bT5y5TZu3Lo+zM7XlM7XlL5i+RZm4I36fMrDfM7Xln8XTtsnQJX6eQZi4RLnjRbjjRZq5L5i/L5rCRJm4RLjiMrHhI36fWrfaQLfjnsXTtcnQM7XlIXKQLZa9M7LhR5q4Rpi3KpW8JH6fMrDflMPVYLzeocbTt8nQMKzZIXWUKpa+QbjkJH6gMrHgM7XloMXTcL7bp8bSusnPMa7cInqaKpe+JH6grMfRhcHYr8jRvsrOM7XlMa/dI3ucKpW8I32fMrHguMnPncXUucrPw8vNMa/dInmZKpS7KZO6InqbMrDfxMvNx8zNM7XlMa3bIHKQIXSSMa/ew8vNM7XlM7XlM7XlzMzMyMzMv8rOyMzNv8rOusrOt8nPNLXlM7XlT49zIwAAAAF0Uk5TAEDm2GYAAAAJcEhZcwAACxMAAAsTAQCanBgAAABmSURBVBjTY2AgCBQwhQyNjNGFbGxP29mjCnnYnvb0whQKQxVKTjntmQrj5OWDyBJkoeqa2joGhsam081wIYbuntMpvX1AoX4kg2Z4np45E1WIgWGx55kzaEIgweY1GH7auo2BSgAALNIh9xzOtlkAAAAASUVORK5CYII=) left bottom;
}

input[type="radio"]:checked:enabled:active,
input[type="radio"]:checked:enabled.active {
	background-color:#FFFFFF;
	background:-webkit-radial-gradient(#FFFFFF 4px, rgba(51,181,229,0.4) 6px);
	background:   -moz-radial-gradient(#FFFFFF 4px, rgba(51,181,229,0.4) 6px);
	background:    -ms-radial-gradient(#FFFFFF 4px, rgba(51,181,229,0.4) 6px);
	background:     -o-radial-gradient(#FFFFFF 4px, rgba(51,181,229,0.4) 6px);
	background:        radial-gradient(#FFFFFF 4px, rgba(51,181,229,0.4) 6px);
}
input[type="checkbox"]:checked:enabled:active,
input[type="checkbox"]:checked:enabled.active {
	background-color:#FFFFFF;
	/*background:rgba(51,181,229,0.4) url(check-active-dark.png) left bottom;*/
	background:rgba(51,181,229,0.4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAARCAYAAAA/mJfHAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAZlJREFUOMvd001LAkEYB/ARkwixg+EHsIKOdY6OfQgxjC5ZURF0CqK3rxCBgdcOWVEdIqOy0C22F22NoLItTah0HF3c1dx1d2e3Q1lLCKVeov99fvPwn2cA+AuZCGWWPbGcr5eA3TVBM2FmM56XXiSsSATkgw4CdlYFzYaZ7XheSirqewRZEeZvspsVQ9NhZvcxJ8ESJCmqHEjylIOAXRVBUxRzEM1JqS9IkQnIXw2QqaWKoMkLxv/ASUgLBSB/PXSCVsseGD9P71GZ4tPCLRu0E7AVAAB6CNgxSTHH95yY/oSwIvuThcjgCdr4btQBAMDoKfIOtzW2W00Gi9VU19Sg162bz9KspV5fb7caW5pNBrMOACArKj5CQtQTy9OqDrjKTjV3yRxmi/j143KVFbGwFs/TNCcy2okOEvz9AIm8P/ayGGHPWRHz6lcvWANhX6Lw4CTR1q9KtgWg0X3HXWhBDRR1kmi7olezE7DFTXNUCRSxIu+/FKL9JFqpasNtfmh0RdgQEuTcznOB7jtOjdT8kcfO0j7wb/IGCSVN6j2UdLQAAAAASUVORK5CYII=) left bottom;
}
