/* ICS blue = #33B5E5 = rgb(51,181,229) */

body {
	background-color:#E8E8E8;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#000000), to(#101214));
	background-image:-webkit-linear-gradient(#000000, #101214);
	background-image:   -moz-linear-gradient(#000000, #101214);
	background-image:    -ms-linear-gradient(#000000, #101214);
	background-image:     -o-linear-gradient(#000000, #101214);
	background-image:        linear-gradient(#000000, #101214);
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#101214');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#101214')";
	
	color:white;
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
	background-color:#424343;
	
	border-top-color:#828283;
	border-bottom-color:#313132;
	
	color:#FFFFFF;
}
button:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus {
	-webkit-box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
}
button:active:enabled, input[type="button"]:active:enabled, input[type="submit"]:active:enabled, input[type="reset"]:active:enabled {
	background-color:#32A5CF;
	background-color:rgba(51,181,229,0.9);
	
	border-top-color:#68BCD9;
	border-top-color:rgba(107,201,237,0.9);
	border-bottom-color:#2882A2;
	border-bottom-color:rgba(41,114,183,0.9);
	
	-webkit-box-shadow:0px 0px 0px 4px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 4px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 4px rgba(51,181,229,0.4);
}

input[type="radio"], input[type="checkbox"] {
	border-color:#3C3C3C;
	border-color:rgba(204,204,204,0.4);
}
input[type="radio"]:focus, input[type="checkbox"]:focus {
	-webkit-box-shadow:0px 0px 0px 2px rgba(51,181,229,0.9);
	   -moz-box-shadow:0px 0px 0px 2px rgba(51,181,229,0.9);
	        box-shadow:0px 0px 0px 2px rgba(51,181,229,0.9);
}
input[type="radio"]:enabled:active {
	background-color:#33B5E5;
	background-color:rgba(51,181,229,0.5);
	background:-webkit-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:   -moz-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:    -ms-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:     -o-radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	background:        radial-gradient(rgba(51,181,229,0.5), rgba(51,181,229,0.4));
	-webkit-box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 6px rgba(51,181,229,0.4);
}
input[type="radio"]:checked {
	background-color:#0099CC;
	background:-webkit-radial-gradient(#33B5E5 3px, /*#94C7DA*/ #2FA3CE 4px, #306172 5px, transparent 6px);
	background:   -moz-radial-gradient(#33B5E5 3px, /*#94C7DA*/ #2FA3CE 4px, #306172 5px, transparent 6px);
	background:    -ms-radial-gradient(#33B5E5 3px, /*#94C7DA*/ #2FA3CE 4px, #306172 5px, transparent 6px);
	background:     -o-radial-gradient(#33B5E5 3px, /*#94C7DA*/ #2FA3CE 4px, #306172 5px, transparent 6px);
	background:        radial-gradient(#33B5E5 3px, /*#94C7DA*/ #2FA3CE 4px, #306172 5px, transparent 6px);
}
input[type="radio"]:checked:enabled:active {
	background:-webkit-radial-gradient(#FFFFFF 4px, rgba(51,181,229,0.4) 6px);
	background:   -moz-radial-gradient(#FFFFFF 4px, rgba(51,181,229,0.4) 6px);
	background:    -ms-radial-gradient(#FFFFFF 4px, rgba(51,181,229,0.4) 6px);
	background:     -o-radial-gradient(#FFFFFF 4px, rgba(51,181,229,0.4) 6px);
	background:        radial-gradient(#FFFFFF 4px, rgba(51,181,229,0.4) 6px);
}
