/* KitKat Holo Light styles for widgets.
 * Part of the Holo Web CSS library.
 * Written by Zachary Yaro.
 * https://github.com/zmyaro/holo-web
 */

.actionBar, .holo-actionBar {
	background-color: #DDDDDD;
	
	border-top-color: #E0E0E0;
	border-bottom-color:#CDCDCD;
	
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}
footer.actionBar, footer.holo-actionBar {
	border-top-color: #C6C6C6;
}

.actionBar button:enabled:active, .holo-actionBar button:enabled:active,
.actionBar *[role="button"]:active, .holo-actionBar *[role="button"]:active,
.actionBar button:enabled.active, .holo-actionBar button:enabled.active,
.actionBar *[role="button"].active, .holo-actionBar *[role="button"].active {
	background-color: rgba(153, 153, 153, 0.2);
}

.actionBar .holo-title.holo-up, .holo-actionBar .holo-title.holo-up {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAAEgAAABIAEbJaz4AAAAJdnBBZwAAABAAAAAQAFzGrcMAAAC+SURBVCjPbdHBSgMxFEbh77YWxmK1UgpF6MKF+gq+/8JXUHChiymiu44VWqwzLsqYzNh/leSee25CQj8nQtir2203Y/cKlYfEp4TGjUu1F7XQwKBTnlqqvVlxKOcA3Bn59ohojwZZ/8JCeLVu9TnQ4NbQxnPSJyBwbebHk13S/79Dp/eQ4d9qbe7MhdL+GBAaO1cKfORDkiFsTE2ce7dNSA7wZWmkUB4zELbGZiY+Va0jB6Ayx6myfU/op/fdv9AmLzUXEoRwAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDExLTA3LTAxVDEzOjEwOjI1LTA3OjAwM9+A0wAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxMS0wNy0wMVQxMzoxMDoyNS0wNzowMEKCOG8AAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAAElFTkSuQmCC);
}

.holo-list li {
	border-color: #D0D0D0;
	border-color: rgba(0, 0, 0, 0.1);
}
	.holo-list li button:focus,
	.holo-list li *[role="button"]:focus {
		background-color: #B1D8E7;
		background-color: rgba(51, 181, 229, 0.31);
		-webkit-box-shadow: inset 0 0 0 2px rgba(51, 181, 229, 0.42);
		   -moz-box-shadow: inset 0 0 0 2px rgba(51, 181, 229, 0.42);
		        box-shadow: inset 0 0 0 2px rgba(51, 181, 229, 0.42);
	}
	.holo-list li button:enabled:active,
	.holo-list li *[role="button"]:active,
	.holo-list li button:enabled.active,
	.holo-list li *[role="button"].active {
		background-color: #D8D8D8;
		background-color: rgba(153, 153, 153, 0.2);
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
	}
